<div class="main-detail-history">
    <div class="main-detail">
        <a href="../history.html">
            <i class="fa fa-3x fa-arrow-circle-left"></i>
        </a>
        <h1>Chi tiết</h1>
        <div class="label-group">
            <label for="name">Tên món</label>
            <label for="count">Số lượng</label>
        </div>

        <div class="show-item-dish">
            <div class="item-dish">
                <div class="infor-dish">
                    <div class="infor-img">
                        <img src='../assets/images/food.jpg' alt="food">
                    </div>
                    <div class="infor-text">
                        <span>Món ABC</span><br>
                        <span>Giá: </span>
                        <span>20000 <sup>đ</sup></span><br>
                        <span>Được đặt vào: 12/02/2020</span><br>
                    </div>
                </div>
                <div class="count">
                    1
                </div>
            </div>

            <div class="item-dish">
                <div class="infor-dish">
                    <div class="infor-img">
                        <img src='../assets/images/food.jpg' alt="food">
                    </div>
                    <div class="infor-text">
                        <span>Món ABC</span><br>
                        <span>Giá: </span>
                        <span>20000 <sup>đ</sup></span><br>
                        <span>Được đặt vào: 12/02/2020</span><br>
                    </div>
                </div>
                <div class="count">
                    1
                </div>
            </div>

            <div class="item-dish">
                <div class="infor-dish">
                    <div class="infor-img">
                        <img src='../assets/images/food.jpg' alt="food">
                    </div>
                    <div class="infor-text">
                        <span>Món ABC</span><br>
                        <span>Giá: </span>
                        <span>20000 <sup>đ</sup></span><br>
                        <span>Được đặt vào: 12/02/2020</span><br>
                    </div>
                </div>
                <div class="count">
                    1
                </div>
            </div>
        </div>
        

        <div class="show-infor-delivery">
            <div class="infor-group">
                <label for="safe">Mã khuuyến mãi:</label>
                <div class="infor">FREESHIP</div>
            </div>
            <div class="infor-group">
                <label for="way-pay">Hình thức thành toán:</label>
                <div class="infor">Tiền mặt</div>
            </div>
            <div class="infor-group">
                <label for="address">Địa chỉ nhận hàng</label>
                <div class="infor">123 Nguyễn Văn Linh</div>
            </div>
            <div class="infor-group">
                <label for="phone">Số điện thoại nhận hàng:</label>
                <div class="infor">0986 101 202</div>
            </div>
        </div>
        <div class="show-total">
            <button class="btn-reOrder">
                Đặt lại
            </button>
            <div class="infor-group">
                <label for="total">Tổng tiền:</label>
                <div class="infor">50.000 <sup>đ</sup></div>
            </div>
        </div>

    </div>
</div>