<!-- FOOTER -->
<footer>
    <div class="footer-row-one">
        <div class="company">
            <span class="name">
                BFOOD company
            </span><br />
            <ul class="address">
                <li>Nguyễn Văn Linh</li>
                <li>Tầng 1 Tòa nhà trực thăng</li>
                <li>Hải Châu Đà Nẵng</li>
            </ul>
        </div>
        <div class="contact">
            <span class="name">
                Liên hệ
            </span><br />
            <ul class="address">
                <li>Sđt: +84986 000 123 </li>
                <li>Website: BFood.com</li>
                <li>Hot line: 0236 123 456</li>
            </ul>
        </div>
        <div class="about-me">
            <span class="name">
                Giới thiệu
            </span><br />
            <ul class="address">
                <li>Được thành lập 2020</li>
                <li>Với tên gọi BFood</li>
            </ul>
        </div>
        <div class="logo-footer">
            <div class="logo-bfood lone">
                BFood
            </div>
            <div class="logo-bfood ltow">
                BFood
            </div>
        </div>
    </div>
    <div class="footer-row-two">
        <span>@CopyRight 2020, Design By BFood</span>
    </div>
</footer>
<!-- END OF FOOTER -->