<div id="forgot">
    <div id="main-forgot">
        <div class="img-forgot">
            <a href="../login.html">
                <i class="fa fa-3x fa-arrow-circle-left"></i>
            </a>
            <img src="../assets/images/bg-detail.jpg" alt="forgot">
        </div>
        <div class="fill-email">
            <h2>Quên mật khẩu</h2>
            <form action="#" name="form">
                <div class="form-group">
                    <i class="fa fa-2x fa-envelope-square"></i>
                    <input onkeyup="checkValidate('email')" name="email" placeholder="Nhập Email của bạn..."
                        type="email">
                </div>
                <p class="error"></p>
                <div class="btn-group">
                    <button onclick="checkToReset(event)" type="submit" class="btn-resgister">
                        Gửi mã xác thực
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>