<div class="main-form">
  <div class="register">

    <h2>ĐĂNG KÝ</h2>
    <form method="POST" name="form" onsubmit="return onsubmitForm(event)">
      <div class="form-group">
        <i class="fa fa-2x fa-envelope-square"></i>
        <input onkeyup="checkValidate('email')" name="email"  placeholder="Nhập Email của bạn..."
          type="email">
      </div>
      <p class="error"></p>


      <div class="form-group">
        <i class="fa fa-2x fa-user"></i>
        <input onkeyup="checkValidate('user')" name="user"  placeholder="Nhập tên đăng nhập của bạn..."
          type="text">
      </div>
      <p class="error"></p>


      <div class="form-group">
        <i class="fa fa-2x fa-key"></i>
        <input onkeyup="checkValidate('password')" name="password" 
          placeholder="Nhập mật khẩu của bạn (> 8 kí tự)..." type="password">
      </div>
      <p class="error"></p>


      <div class="btn-group">
        <button type="submit" class="btn btn-resgister">
          Đăng ký
        </button>
      </div>

    </form>


    <div class="or">
      <div class="line"></div>
      <div class="text">Hoặc</div>
      <div class="line"></div>
    </div>

    <div class="bnt-orther">
      <button class="fb">Facebook</button>
      <button class="gg">Google</button>
    </div>

    <div class="link-to-login">
      <div class="line"></div>
      <a href="../login.html">Đăng nhập</a>
      <div class="line"></div>
    </div>

  </div>
</div>