<!-- HEADER -->
<header>
    <!-- navbar -->
    <div id=menu class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="/assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="topnav" id="myTopnav">
            <a href="#"></a>
            <a href="#" class="active">ĐỒ ĂN</a>
            <a href="../index.html">ĐỒ UỐNG</a>
            <a href="../safe.html">KHUYẾN MÃI</a>
            <a href="javascript:void(0);" class="icon" onclick="showItemMenu()">
              <i class="fa fa-bars"></i>
            </a>
            <a  class="register-login" href="../register.html"><button>Đăng kí</button></a>
            <a class="register-login" href="../login.html"><button>Đăng nhập</button></a>
          </div>
          
    </div>
    <div class="title">
        <img src="../assets/images/logo-banner.png" alt="">
    </div>
</header>
<!-- END OF HEADER -->