<!-- INFRO-RES -->
<div class="infro-res">
    <div class="infor-res-img">
        <img src="../assets/images/res.jpg" alt="restaurant">
    </div>

    <div class="infor-res-text">
        <h2 class="title-wc">
        </h2>
        <div class="text-infor">
            <div class="infor-row">
                <h1>NHÀ HÀNG ABC</h1>
            </div>

            <div class="infor-row">
                <span>Địa chỉ:</span>
                <span>123 Nguyễn Văn Linh</span>
            </div>

            <div class="infor-row">
                <span>Đánh giá: </span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
        </div>
    </div>
</div>

<div class="sologan">
    <i>Ngon, bổ, rẻ, chất lượng........</i>
</div>
<!-- INFRO-RES -->