<!-- INTRODUCE -->
<div class="introduce">
    <div class="intro-infor">
        <h4>
            VỀ CHÚNG TÔI
        </h4>
        <p>
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Corporis rem, consequuntur
            explicabo libero tempora obcaecati aliquam
            voluptate enim natus eius architecto eveniet
            labore magnam, ut quisquam. Commodi minima
            distinctio eos.
        </p>
    </div>
    <div class="intro-img">
        <img src="../assets/images/user.jpg" alt="user">
    </div>

</div>
<!-- INTRODUCE -->