<div class="item-comment">
    <div class="user-comment">
        <span>Tên tài khoản:</span>
        <span>The Rio</span><br>
        <span>Nội dung: </span>
        <span>Nhà hàng nay ok lắm ...</span><br>
        <a href="#">Trả lời</a>
        <span>Lượt thích</span>
        <i class="fa fa-lg fa-thumbs-up"></i>
    </div>
    <div class="star-rating-comment">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
</div>