<div class="item-restaurant">

    <div class="infor-group">
        <img src='../assets/images/food.jpg' alt="food">
    </div>
    <div class="show-infor-restaurant">
        <i>Nhà hàng ABC</i><br>
        <i style="font-size:16px;">123 Nguyễn Văn Linh</i><br>
        <span style="font-size:16px;">Chỉ từ: </span><i style="color:red;">20.000<sup>đ</sup></i><br>
    </div>
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
                class="rating__icon rating__icon--star fa fa-star"></i>
            <label aria-label="1 star" class="rating__label" for="rating-1"><i
                    class="rating__icon rating__icon--star fa fa-star"></i>
                <label aria-label="1 star" class="rating__label" for="rating-1"><i
                        class="rating__icon rating__icon--star fa fa-star"></i>
                    <label aria-label="1 star" class="rating__label" for="rating-1"><i
                            class="rating__icon rating__icon--star fa fa-star"></i>
                        <label aria-label="1 star" class="rating__label" for="rating-1"><i
                                class="rating__icon rating__icon--star fa fa-star"></i>
                            <button><a href="../itemRes.html"><i
                                        class="fa fa-lg fa-long-arrow-right"></i></a></button>
    </div>
</div>