<!-- MODAL -->
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <i onclick="hideModal()" class="fa fa-2x fa-window-close"></i>
                        <h2>Thông báo</h2>
                        <p id="show-content"></p>
                        <div class="btn-group-modal">
                            <a href="#">
                                <button onclick="eventBtnOne()" id="btn-modal-one" class="btn-modal">
                                </button>
                            </a>

                            <a href="#">
                                <button onclick="eventBtnTwo()" id="btn-modal-two" class="btn-modal">
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- END OF MODAL -->