<!-- NEWs -->
        
<h4 class="title-res">*</h4>
<div class="news">
    <div class="title-show">
    </div>
    <div id="show-opinie">
        <div class="item-opinie">
            <div class="title-bn">
              <img src="../assets/images/logo.png" alt="BF">
            </div>
            <div class="bn-text">
                <p class="text-boldd">
                    Tiện ích
                </p>
                <p class="text-normall">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aspernatur dicta iure, ex ratione facere tenetur provident 
                possimus deserunt temporibus earum cum blanditiis at ea saepe 
                dolores velit sit voluptatem deleniti.
                </p>
            </div>
        </div>
        <div class="item-opinie">
            <div class="title-bn">
              <img src="../assets/images/logo.png" alt="BF">
            </div>
            <div class="bn-text">
                <p class="text-boldd">
                    Tiện ích
                </p>
                <p class="text-normall">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aspernatur dicta iure, ex ratione facere tenetur provident 
                possimus deserunt temporibus earum cum blanditiis at ea saepe 
                dolores velit sit voluptatem deleniti.
                </p>
            </div>
        </div>
        <div class="item-opinie">
            <div class="title-bn">
              <img src="../assets/images/logo.png" alt="BF">
            </div>
            <div class="bn-text">
                <p class="text-boldd">
                    Tiện ích
                </p>
                <p class="text-normall">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aspernatur dicta iure, ex ratione facere tenetur provident 
                possimus deserunt temporibus earum cum blanditiis at ea saepe 
                dolores velit sit voluptatem deleniti.
                </p>
            </div>
        </div>
    </div>
</div>