<!-- SEARCH -->
<div class="search">
    <select class="city" name="city" id="city">
        <option value="DN">Đà Nẵng<i class="fa fa-2x fa-map-marker"></i></option>
        <option value="HCM">TP Hồ Chí Minh<i class="fa fa-2x fa-map-marker"></i></option>
    </select>
    <div class="input-search">
        <input type="text" placeholder="Nhập tên món ăn..." name="search" id="search">
        <button class="btn-search">
            <i class="fa fa-2x fa-search"></i>
        </button>
    </div>
</div>
<!--END OF SEARCH -->