
    <table id='tb-header'>
        <tr >
            <th>STT</th>
            <th>Địa chỉ nhận hàng</th>
            <th>Ngày mua</th>
            <th>Tổng tiền</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>123 Nguyễn Văn Linh</td>
            <td>05/12/2020</td>
            <td>50.000 <sup>đ</sup></td>
            <td><a href="../detailHis.html">Chi tiết...</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>123 Nguyễn Văn Linh</td>
            <td>05/12/2020</td>
            <td>50.000 <sup>đ</sup></td>
            <td><a href="../detailHis.html">Chi tiết...</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>123 Nguyễn Văn Linh</td>
            <td>05/12/2020</td>
            <td>50.000 <sup>đ</sup></td>
            <td><a href="../detailHis.html">Chi tiết...</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>123 Nguyễn Văn Linh</td>
            <td>05/12/2020</td>
            <td>50.000 <sup>đ</sup></td>
            <td><a href="../detailHis.html">Chi tiết...</a></td>
        </tr>
    </table>
    